* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    flex:1;
    padding: 40px;
    padding-bottom:350px;
    margin-left: 385px;
}
body {
    font-family: "Segoe UI", Tahoma, sans-serif;
    background: #f5f7fb;
    color: #222;
}

.wrapper {
    display: flex;
    min-height: 100vh;
}




/* --- document --- */


.main {
    flex: 1;
    padding: 40px;
    padding-bottom: 200px; 
}

.breadcrumb {
    color: #666;
    margin-bottom: 20px;
    font-size: 0.9rem;
}

.lesson-card {
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.lesson-card h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #111;
}

.lesson-part {
    margin-bottom: 100px; 
    padding-top: 40px;
}

iframe {
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    background: #fff;
}

.info-box {
    background: #f0f5ff;
    border-left: 6px solid #0a58ca;
    padding: 20px;
    margin: 25px 0;
    border-radius: 8px;
}

.box-title {
    font-family: Georgia, serif;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.definition {
    font-family: Georgia, serif;
    font-size: 1.3rem;
    line-height: 1.6;
}

.content p {
    font-size: 1.15rem;
    line-height: 1.8;
    margin-bottom: 15px;
}


/* --- For formulas --- */


.example {
    background: #fff7e6;
    border-left: 6px solid #ffb703;
    padding: 25px;
    margin: 30px 0;
    border-radius: 8px;
}

.formula-container {
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: bold;
}

.formula-main {
    font-size: 2.2rem;
}

.fraction {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fraction .top {
    font-size: 1.8rem;
    border-bottom: 3px solid #000;
    padding: 0 10px;
}

.fraction .bottom {
    font-size: 1.8rem;
    padding: 5px 10px;
}

/* lessons */

.lesson-folder {
    margin-bottom: 5px;
}

.lesson-folder summary {
    padding-top: 30px;
    padding-bottom: 12px;
    font-weight: 850;
    color: #0d2f63;
    text-align: left;
    font-size: 20px;
    cursor: pointer;
    list-style: none; 
    outline: none;
    transition: color 0.3s ease;
}

.lesson-folder summary::-webkit-details-marker {
    display: none; 
}

.lesson-folder summary:hover {
    color: #0a58ca;
}

.lesson-folder a {
    display: block;
    padding: 12px;
    margin-left: 10px;
    text-decoration: none;
    color: #333;
    border-radius: 8px;
    font-weight: 500;
    transition: 0.3s;
}

.lesson-folder a:hover {
    background: #e9efff;
    color: #0a58ca;
}

